@import "config";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: $base-font-size;
}

body {
    background: $dark-gray;
    color: $text-color;
    overflow-x: hidden;

    div {
        background: $light-gray;
    }
}

h1 {
    background: $light-gray;
    @include center-flex;
    height: 80px;
    outline: 3px double $h1-outline-color;
    outline-offset: -5px;
    text-shadow: $h1-shadow;
}

div {
    @include center-flex;
    margin: 15px 25px;
    padding: 10px;
    border-radius: 5px;
    position: relative;
}

span {
    background: $dark-gray;
    padding: 6px;
    margin: 5px;
    z-index: $z-index-top;
    border-radius: 3px;
}

input {
    margin: 5px;
    text-align: center;
    width: 200px;
}

.info {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    font-family: sans-serif;
    background: $dark-gray;
    transition: transform 0.5s 1.5s, color 0.3s, z-index 5s,
        background 0.3s 1.5s;
    z-index: $z-index-bottom;

    &:hover {
        transition: transform 0.3s 0s;
        transform: scale(1.09);
        color: $info-hover-color;
        z-index: $z-index-top;
        background: rgb(40, 40, 40);
    }
}

code {
    background: $dark-gray;
    display: block;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    margin: 10px;
}

pre {
    font-size: 18px;
    background: $pre-background;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.flex-column {
    flex-direction: column;
    padding: 30px 10px;
}

ol input {
    width: auto;
    display: inline-block;
}

.remove-btn {
    width: 20px;
    height: 20px;
    font-size: 12px;
    transform: translate(0, -6px);
}

fieldset {
    padding: 20px;
    margin: 20px;
    text-align: center;
    border-radius: 5px;
    background: $dark-gray;

    & input:last-child {
        margin-top: 20px;
    }
}

li {
    line-height: 50px;
}

::-webkit-scrollbar {
    width: 16px;
    background: $dark-gray;

    &-thumb {
        background: rgb(219, 219, 219);
        border-radius: 10px;
        outline: 5px solid $dark-gray;
        outline-offset: -4px;
        box-shadow: inset 0 0 6px $dark-gray;

        &:hover {
            background: rgb(255, 255, 255);
            outline-offset: -3.7px;
            outline-width: 4px;
        }
    }
}

a {
    padding: 8px;
    border-radius: 5px;
    background: $dark-gray;
    text-decoration: none;
    color: $text-color;
}

strong {
    color: $strong-color;
    font-size: 18px;
}
